.App {
  text-align: center;
  background-color: #8b4000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerButt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-image {
  background-color: transparent;
  border: none;
  outline: none;
}

.cornucopia {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 15%;
}
